# Ignore image files in data_processing folder and subfolders
data_processing/**/*.jpg
data_processing/**/*.jpeg
data_processing/**/*.png
data_processing/**/*.gif
*.png
*.mp4
*.pyc
drive_key.json
token.json
# VSCode settings
.vscode/settings.json

# DS_Store files
**/.DS_Store

# .zip files
*.zip

*.ipynb_checkpoints
*.ipynb

outputs/
webapp/
